body{
     font-family: 'Roboto', sans-serif;
     margin: 0px;
}
h1{
     font-size: 50px;
}
h2{
     font-size: 40px;
}
h3{
     font-size: 30px;
}
.center-text{
     width: 100%;
     text-align: center;
     color: white;
}

.link-button{
     text-decoration: none;
     background-image: linear-gradient(pink, red);
     padding: 15px 40px;
     border-radius: 5px;
     color: white;
}
.background-image{
     background-image: url(images/donation9.jpg);
     background-repeat: no-repeat;
     width: 100%;
     padding: 150px 0px;
     background-size: cover;
 }
 .text-middle{
     text-align: center;
 }
 h2{
     display: flex;
     display: inline;
     padding: 30px 30px;
     border: 2px solid blue;
     
 }
 h4{
     margin-top: 80px;
     border-bottom: 2px solid grey;
     margin-bottom: 50px;
     margin-top: 50px;
     width: 100%;
     
 }
 .blog-center{
     text-align: center;
     margin-top: 100px;
 }
 .donate-taka{
     color:red;
     background-color: pink;
     border: 2px solid red;
 }
.margin{
     margin-top: 150px;
}
.display{
     display: flex;
}
.border{
     background-color:rgba(188, 188, 188, 0.561);
     margin-left: 5%;
     margin-right: 5%;
     width: 40%;
     padding-top: 70px;
     padding-left: 20px;
     padding-bottom: 10px;
     padding-right:px;
     
}
.border1{
     background-color:rgb(233, 221, 221);
     margin-left: 5%;
     margin-right: 5%;
     width: 40%;
     padding-top: 70px;
     padding-left: 20px;
     padding-bottom: 10px;
     padding-right: 20px;
}
.border2{
     background-color:rgb(255, 220, 220);
     margin-left: 5%;
     margin-right: 5%;
     width: 40%;
     padding-top:70px;
     padding-left: 20px;
     padding-bottom: 10px;
     padding-right: 20px;
}
.icon8{
     background-repeat: no-repeat;
     width:100px;
     height: fit-content;
}
.icon9{
     background-repeat: no-repeat;
     width:100px;
     height: fit-content;     
.icon4{
     background-repeat: no-repeat;
     width:100px;
     height:fit-content;